name: CI

on:
  push:
    branches:
      - '*'
  workflow_dispatch:

jobs:
  ci-build:
    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node.js environment
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: preliminaries
        run: |
          echo running node --version
          node --version
          echo running npm --version
          npm --version
          echo running yarn --version
          yarn --version

      - name: Install dependencies
        run: yarn --frozen-lockfile

      - name: Build and test
        run: yarn test
        env:
          s3_cache: ${{ secrets.S3_CACHE }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: antelope-${{ github.run_number }}
          path: |
            .build-raptor/**/*
            !.build-raptor/cache/**/*
